extends layout

block content

  #searchBar.container.bg-light.p-2.my-2.sticky-top
    .row.justify-content-center
      .col-12.col-sm-10.mb-1
        a.btn.d-block.btn-outline-secondary(href=`?campus=["台北","桃園","成功","基河","金門"]`) 全部
    .row.justify-content-center.mb-2
      .col-6.col-sm-2.mb-1
        a.btn.d-block.btn-outline-secondary(href=`?campus=["台北"]`) 臺北
      .col-6.col-sm-2.mb-1
        a.btn.d-block.btn-outline-secondary(href=`?campus=["桃園"]`) 桃園
      .col-4.col-sm-2
        a.btn.d-block.btn-outline-secondary(href=`?campus=["成功"]`) 成功
      .col-4.col-sm-2
        a.btn.d-block.btn-outline-secondary(href=`?campus=["基河"]`) 基河
      .col-4.col-sm-2
        a.btn.d-block.btn-outline-secondary(href=`?campus=["金門"]`) 金門
    .row.justify-content-center
      .col-12.col-sm-8.col-md-6
        form(action=`/courses/async` method='get')
          .input-group
            input#search.form-control(type='text' name='search' value=search placeholder='任課教師/科目名稱/課程代碼')
            input(type='hidden' name='campus' value=campus)
            input.text-light.btn.btn-primary(type='submit' value='送出查詢')
    //-.row TODO
      #quick-action
        
  .container
    .row
      #js-infinite-wrap
      #js-detective

block scripts
  script(src="/js/scroll_load_courses.js")
  script.
    let prevScrollpos = $(window).scrollTop();
    window.onscroll = function() {
    let currentScrollPos = $(window).scrollTop();
    if (prevScrollpos > currentScrollPos) {
      $("#searchBar").css('top',"60px");
    } else {
      $("#searchBar").css('top',"-80px");
    }
    prevScrollpos = currentScrollPos;
    }
    
    if(params.has('campus')) $(`a[href='?campus=${params.get('campus')}']`).addClass('active');
    else $(`a[href='?campus=["台北","桃園","基河","金門"]']`).addClass('active');
