extends layout

block content
  .container
    h2 免責聲明
    p 非常歡迎您光臨也感謝您回報資料給「MCU-up」（以下簡稱本網站），因網站服務性質，請容許本網站進行以下聲明。
    h3 一、免責聲明
    ol
      li 本網站正進行公開測試，所有功能將隨時變動。
      li 本網站之資訊，由銘傳大學、熱心的同學及 suankho 提供，恕本網站無法保證資料即時性及正確性。
      li 本網站將不負責瀏覽或使用本網站產生之損失。