extends layout

block heads
  link(rel="stylesheet" href='/css/rating-star.css')
  script.
    {
    const url = new URL(location.href);
    let params = url.searchParams;
    if(params.get('redirect') === "true" && sessionStorage.getItem("lastView") !== null) location.replace(sessionStorage.getItem("lastView"));
    }

block content
    .container
        h1 我的評分
        
        if data.length > 0
          each d in data
            
            if !d.isHidden
              .card.mb-1
                .card-header
                  a.text-secondary.text-decoration-none(href=`/courses/${d.teacher}/${d.subject}`)=  `${d.subject} - ${d.teacher}`
                include _partial/comment_card.pug
              
          include _partial/comment_modals.pug
          
          
        else
          p 尚未有任何評論


block scripts
  script(src="//cdn.jsdelivr.net/npm/sweetalert2@10")
  script(src='/js/rating.js' async)
  script(src='/js/rating-star.js')
