footer.bg-light.p-4.text-secondary.mt-1
  .container
    .row 
      .col 
        ul.ps-0
          li.d-inline-block.me-3
            a(href="//github.com/mcuosc/mcu-up" target="_blank") GitHub
          li.d-inline-block.me-3
            a(href="//fb.me/upMCU" target="_blank") Facebook
          li.d-inline-block.me-3
            a(href="//line.me/ti/g2/ktESOVGy_LoR6m6pDQ2EJw" target="_blank") Line 社群
    .row 
      .col
        p 本平臺尚處在早期測試階段，如遇到任何問題請回報給開發團隊了解
    .row
      .col
        p.text-center Powered by MCU OSC, 2021
